<h1>Order</h1>

<%= render 'summary_table' %>

<hr />
<% if @order.completed? %>
  This order has been completed. Your books should arrive soon.
<% else %>
<%= render 'order_form' %>
<% end %>

<hr />

<% if ! @order.completed? %>
<%= link_to 'Edit order', edit_order_path(@order) %> |
<% end %>
<%= link_to 'Back to book list', books_path %>
