// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.delete_btn {
  color: red;
}
#order-table {
  width: 500px;
}
#card_number {
  width: 110px;
}
#card_code {
  width: 20px
}
